{
  "cache": {"name": "Test"},
  "layers": {
    "world": {
        "provider": {"name": "mbtiles", "tileset": "/server/osm-2017-07-03-v3.6.1-planet.mbtiles"}
    },
    "world-raster": {
        "provider": {"name": "mbtiles", "tileset": "/server/MapBox_Demo_Layer/demo_layers.mbtiles"}
    }
  }
}
